.meal {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  align-items: flex-start;
}

.meal h3 {
  margin: 0 0 0.01rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}