.meal {
  /* align-items: flex-start; */
  width: 50%;
  margin: 0 0 0.01rem 0;
  /* border:2px solid green; */
}

/* .meal h3 {
  margin: 0 0 0.01rem 0;
}
 */
.description {
  font-style: italic;
}

.price {
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}