.form {
  /* margin: 0; */
  padding: 1rem;
  width: 50%;
  margin-left:50%;
  /* float: right; */
  align-items: flex-end;
  /* border: 2px solid red; */
}

.form p {
  color: red;
  font-style: italic;
}
.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}


.meal {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  align-items: flex-start;
}
