/* .main {
  /* width: 50rem; 
  max-width: 90%;
  margin: 3rem auto;
  display: block;
} */

ul {
  /* margin-top: 5rem; */
  list-style: none;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-bottom: 1px solid #aaa;
}
